./dist/BACILLUSme-0.0.9-py3.6.egg
./.git/objects/97/cc302fe6a458901613b1196a33e87e4defa590
./bacillusme/analysis/essentiality/essentiality_raw_me_results_eco.csv
./bacillusme/analysis/sensitivity/cost_raw_results.csv
